.bar,
.trip {
  position: absolute;
  top: 0;
  height: 139px;
}
.trip {
  left: 0;
  display: inline-block;
  width: 429px;
}
.bar {
  left: 38px;
  width: 1847px;
}
.reservations {
  position: absolute;
  top: 182px;
  left: calc(50% - 922px);
  width: 1850px;
  height: 906px;
}
.adminScreen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1116px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-black);
  font-family: var(--font-tt-norms-tochka-extended);
}
