.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-lightpink);
}
.div {
  position: absolute;
  height: 43.66%;
  width: 75.53%;
  top: 25.35%;
  left: 12.23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.property1off {
  width: 752px;
  max-width: 100%;
  height: 71px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-tt-norms-tochka-extended);
}
